@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  scrollbar-width: thin;
  scrollbar-color: #323232;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: #7e7e7e;
  width: 50px;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  width: 90px;
  border-radius: 14px;
}

.loading-effect{
  @apply after:absolute after:w-full after:h-full after:bg-gradient-to-r after:from-white/0 after:via-white/30 after:to-white/0  shimmer  relative overflow-hidden  bg-system-200 w-full
}

.dft-link {
  @apply text-secondary hover:text-secondary-light hover:underline transition-all duration-150;
}

.dft-container {
  @apply max-w-7xl mx-auto;
}
